html {
  height: 100%;
  width: 100%;
}

.formulario_Car {
  width: 100% !important;
  height: auto;
  margin: auto;


}
.formulario_Car  form{
  width: 80%!important;
  margin-left: 5%;
  margin-right: 5%;
}

.container-form {
  width: 100%;
  flex-direction: row;

}
.new-mar{
  width: 100%!important;
  margin-right: 5%;
}

.titulo a {
  font-family: 'Copperplate', Serif;
}

/*logito*/
.imagen img {
  width: 200px;
  height: 70px;
}
.flex1{
  display: flex;
}

@media (max-width: 767px) {
  .container-form {
    flex-direction: column;
  }
}